# If ANY .spin files become UTF-16 encoded, uncomment next line and update "<filename>" to set Git to handle that .spin file properly; REQUIRES Git v2.18.0 (6/22/18) or later
# <filename>.spin text working-tree-encoding=UTF-16

*.spin diff=localizablestrings

#
#
# Do not convert ANY text file line endings (ie: leave all files as-is on commit/checkout)
* -text
#
#
# GitLFS-managed large files (see https://git-lfs.github.com)
Program/*.exe filter=lfs diff=lfs merge=lfs -text
Release/Boot/*.bin filter=lfs diff=lfs merge=lfs -text
Release/Core/*.bin filter=lfs diff=lfs merge=lfs -text
Release/Core/*.ota filter=lfs diff=lfs merge=lfs -text
Release/Power/*.hex filter=lfs diff=lfs merge=lfs -text
Release/Test/*.bin filter=lfs diff=lfs merge=lfs -text
Source/Examples/*.gif filter=lfs diff=lfs merge=lfs -text
Source/Examples/*.png filter=lfs diff=lfs merge=lfs -text
Source/Examples/*.jpg filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.rom filter=lfs diff=lfs merge=lfs -text
*.hex filter=lfs diff=lfs merge=lfs -text
